* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

button {
  width: 150px;
  height: 20px;
  background-color: rgba(164, 243, 217, 0.513);
  border: none;
  cursor: pointer;
}

.time {
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.selected-city {
  color: green;
}
